body{
    background-color: rgb(88, 122, 190);
}

h1 a{
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

nav{
    background-color: rgb(10, 26, 56);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    justify-content: space-between;
    position: relative;
    padding: 0px 50px;
    box-shadow: 0 2px 3px rgb(0, 0, 0, 0.5);
}